.article-list-wrap {
  margin-top: 1.2em;

  .item-list {
    list-style-type: none;
    padding-inline-start: 0;

    .list-item {
      display: flex;
      gap: 10px;
      padding: 0.5em 0 0.25em 0;
      line-height: 1.45em;

      .upvote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;
        width: 17px;
        
        .arrow {
          cursor: pointer;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px;
          
          &.up {
            border-color: transparent transparent rgba(187, 187, 187) transparent;
            border-bottom-width: 11px;

            &:hover {
              border-bottom-color: rgba(172, 19, 13);
            }
          }

        }
        
        .label {
          color: rgba(51, 51, 51, 59%);
          text-align: center;
          font-size: 9.5pt;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .list-item-text {
          padding-right: 5px;
        }

        .details {
          .title {
            cursor: pointer;
            color: rgba(28, 89, 209);
            font-size: 11.5pt;
            font-weight: bold;
          }

          .tags {
            color: rgba(51, 51, 51, 84%);
            font-size: 8pt;
          }

          .source {
            cursor: pointer;
            color: rgba(51, 51, 51, 59%);
            font-size: 9pt;
            font-style: italic;
          }
        }

        .extra-details {
          color: rgba(51, 51, 51, 59%);
          font-size: 9.5pt;

          .author-name {
            cursor: pointer;
            color: rgba(28, 89, 209);
          }

          .archive-label {
            cursor: pointer;
          }

          .num-comments {
            cursor: pointer;
          }
        }
      }
    }
  }

  .paginator {
    margin-top: 2em;
    margin-left: 2em;
  }
}
